html, body{
  margin:0;
  padding:0;
  background: #05101c;
  color: white;
  font-family: "Roboto Slab", serif;
}

.image-inverted{
  filter:invert(100%);

}

.nav-link{
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}